header{
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 200%;
}
header.img{
    height: 450px;
    width: 100%;
}