*{
margin: 0 auto;
padding: 0;
}
.b{
background-color: black;
font-family: 'Times New Roman', Times, serif;
color: white;
font-size: 100%;
float: left;
height: 80px
}
.bb{
line-height: 80px;
float: left;
}
.bb_d img{
float: right;
width: 2%;
margin-left: 5px;
margin-top: 25px;
margin-right: 5px;
}
.b img {
margin-right: 5px;
margin-bottom: 20px;
float: right;
}
.link {
color: rgb(255, 255, 255);
text-decoration: none;
}
h1{
color: gray;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header.img{
height: 450px;
width: 100%;
}
.cont_02{
border: solid rgb(0, 0, 0) 1px;
width: 16%;
float: left;
}
.cont_03{
border: solid rgb(0, 0, 0) 1px;
width: 67%;
float: left;
}
.clear{
clear: both;
}